
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#header {
  height: 100px;
  background-color: dimgrey;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

#side_bar h3 {
  text-align: center;
}

#side_bar > ul {
  list-style-type: none;
  font-size: 18px;
}

#side_bar > ul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

#side_bar > ul > li:hover {
  cursor: pointer;
  color: blue;
}

#container {
  height: 600px;
  margin: 10px;
  display: flex;
}

#side_bar {
  width: 20%;
  height: 100%;
  background-color: coral;
  overflow: scroll;
}

#container .textContent {
  width: 70%;
  background-color: aquamarine;
  height: 100%;
  padding: 0 4% 0 4%;
  font-size: 20px;
  overflow: Scroll;
}

